p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Steve */
.book_cover { 
    display:block;
    clear: right;
    float: left;
    margin: 0 4rem 4rem 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

p + div.sourceCode {
  margin-top: -0.5em;
}

div.sourceCode + .code_result, div.sourceCode + .code_result + .code_result {
    margin-top: -1.1em !important
}

.code_result + p, div.sourceCode + .code_result + .code_result + p {
  margin-top: 1.5em !important;
}


.book .book-body .page-wrapper .page-inner section.normal div.sourceCode pre {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.book .book-body .page-wrapper .page-inner section.normal pre.code_result:not(.warning) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.book .book-body .page-wrapper .page-inner section.normal pre.code_result {
  background: #f0f0f0;
}
.error, .message, .warning {
  
}